* {
    box-sizing: border-box
  }
  html {
    height: 100%;
  }
  body {
    background-color: silver;
    margin: 0;
    padding: 0;
    background: url("./assets/bg.jpg");
    background-size: cover;
    background-repeat: repeat;
    animation: 2s ease;
  }
  nav {
    background-color: black;
    color: white;
    height: 9.5vh;
    padding: 1vh;
    margin-top: -3.5vh;
  }
  nav>ul>li>a, footer>a {
      color: white;
      transition: color 2s;
  }
  nav>ul>li>a:hover, footer>a:hover {
    color: yellow;
    transition: color 2s;
}
  li {
    border-bottom: 5px solid darkgrey;
    list-style: none;
    color: white;
    transition: border-bottom 2s;
  }
  li:hover {
    border-bottom: 5px solid yellow;
    color: yellow;
    transition: border-bottom 2s;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    color: white;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;    
  }
  #about {
    text-align: center;
    color: black;
    background-color: gray;
    width: 35vw;
    min-width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px;
    margin: 20px auto;
    padding: 20px;
    transition: box-shadow 2s;
  }
  #about:hover {
    box-shadow: 10px 10px gold;
    transition: box-shadow 2s;
  }
  .fa {
    transform: scaleX(1) rotate(0deg);
    transition: transform 2s;
  }
  .fa:hover {
    transform: scaleX(-1) rotate(180deg);
    transition: transform 2s;
  }
  a {
      text-decoration: none;
      color: black;
      cursor: pointer;
  }
  .fab {
      animation: scroll 2s ease infinite;
  }
  @keyframes scroll {
      0% { transform: scale(1) }
      50% { transform: scale(1.5) }
      100% { transform: scale(1) }    
  }
  img {
    filter: grayscale(100%);
  }
  #crud {
    width: 90vw;
    min-height: 89vh;
    background-color: gray;
    margin: 1vh auto;
  }
  footer {
    background-color: black;
    color: white;
    width: 100vw;
    height: 3vh;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
  }
  iframe {
    border: 2px solid black;
    width: 90vw;
    height: 88vh;
    box-shadow: 10px 10px black;
    transition: box-shadow 2s;
    border-radius: 10px;
  }
  iframe:hover {
    box-shadow: 10px 10px gold;
    transition: box-shadow 2s;
  }